body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f2f8ff;
}
@media screen and (max-width: 550px) {
  #nav-coverer {
    height: 56px;
  }
}
@media screen and (min-width: 551px) {
  #nav-coverer {
    height: 48px;
  }
}
@media screen and (min-width: 600px) {
  #nav-coverer {
    height: 64px;
  }
}
@media screen and (min-width: 900px) {
  #nav-coverer {
    height: 74.25px;
  }
}
