body {
  margin: 0;
  padding: 0;
}
#footer {
  display: flex;
  background: #1976d2;
  color: #a1d0ff;
  gap: 2rem;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}
.footer-detail-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer-detail {
  flex-basis: calc(100% / 3);
}
.footer-detail:nth-child(2),
.footer-detail:nth-child(3) {
  text-align: center;
}
.footer-detail:nth-child(2) ul {
  list-style: none;
  padding: 0;
}
.newsletter {
  /* align-self: center; */
  text-align: center;
}
